[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"
flake8-bugbear = "*"
isort = "*"
mypy = "*"
typing_extensions = "*"
twine = "*"
proofaday = {editable = true,path = "."}

[packages]
requests = "~=2.24.0"
beautifulsoup4 = "~=4.9.0"
pylatexenc = "~=2.7"
python-daemon = "~=2.2.0"
click = "~=7.1.0"
